.Home {
  text-align: center;
  
}

.Home-logo {
  height: 19vmin;
  pointer-events: none;
  border-radius: 50%;
 
}

.about-logo {

  height: 250px;
  width: 125px;
  pointer-events: none;
  left: 400px;
  position: absolute;
  bottom: 60px;
  
 
}



.Home-header {
  background-color: #fafafa;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  position: flex;
  
}

.body-header{
  background-color: #fafafa;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: center;
  
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  overflow: hidden;
  
  
}


.body-text{

  background-color: #fafafa;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  position:relative;
  left:50px;
  bottom: 200px;

}
.about-body{
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  
  position:absolute;
  top:320px;

}
.about-body2{
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  
  position:absolute;
  top: 490px;
}
.about-body3{
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  
  position:absolute;
  top: 590px;
}

.Home-link {
  color: black;
  padding: 30px; 
  font-family:'Roboto', sans-serif;
  font-weight: 200;
  font-size: calc(14px + 2vmin);
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social {
  position: flex;
 
  display: flex;
  bottom: 300px;
  
}
.social i {
  margin: 10px;
  font-size: 25px;
  color: #9a9b9c;
}
  .social i:hover {
  color: #d6d3d3;
}
